@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

:root {
  --main-font: "Poppins", sans-serif;
  --text-font: "Crimson Text", serif;
  --main-text-clr: #403f3f;
  --sub-text-clr: #4a94ca;
  --background-clr: #f7f5f7;
}

body {
  font-family: var(--main-font);
  background: var(--background-clr);
  color: var(--main-text-clr);
  overflow-x: hidden !important;
  margin: 0 auto;
  box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth;
}

/* Helper classes */
.bold {
  color: var(--sub-text-clr);
}

.bolder {
  text-decoration: underline;
  font-size: 22px;
}

.dot {
  color: #dbd2c6;
}

/* ----------------------------------------------- */
.navbar {
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0 !important;
  padding-top: 0;
  background-color: var(--background-clr);
}

.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: 0;
  box-shadow: none;
  height: 80px;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: black;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}

.icon-links {
  margin-left: 40px;
}

.icon-links img {
  height: 3.5rem;
}

.navbar-nav {
  margin-left: auto;
  font-size: 23px;
  align-items: center;
  background-color: var(--background-clr) !important;
  opacity: 90%;
  padding-bottom: 10px;
}

.nav-link {
  color: var(--main-text-clr) !important;
  margin-left: 30px;
  position: relative;
  padding-bottom: 4px;
  letter-spacing: 1px;
  font-family: var(--main-font);
  font-size: 18px;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: black;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
  background-color: var(--sub-text-clr) !important;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  background-color: var(--sub-text-clr) !important;
}

.navbar-toggler {
  margin-right: 20px;
}

.sr-only {
  margin-bottom: 60px;
  border-bottom: 0.7px solid currentColor;
}

/* GITHUB LOGO */
.Btn {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.5s;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.5s;
}

.BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--main-text-clr);
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s;
}

.Btn:hover .BG {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.Btn:hover .svgContainer {
  background-color: rgba(156, 156, 156, 0.466);
  backdrop-filter: blur(4px);
}

/* ----------------------------------------------- */
.hero-container {
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
  letter-spacing: 1px;
  scale: 90%;
}

@keyframes slide-up {
  from {
    opacity: 0;
    line-height: 120px;
  }

  to {
    opacity: 1;
    line-height: 22px;
  }
}

.hero-title {
  font-family: var(--text-font);
  font-size: 5rem;
  font-weight: 600;
  padding-bottom: 15px;
  padding-top: 50px;
}

.hero-desc {
  padding-bottom: 60px;
}

.hero-paragraph {
  font-family: var(--text-font);
  font-size: 2.1rem;
  letter-spacing: 0;
  line-height: 32px !important;
  animation: slide-up 4s;
}

/* -------------------------------------------- */
.button {
  --color: var(--sub-text-clr);
  padding: 0.8em 1.7em;
  color: var(--sub-text-clr);
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 20px;
  border: 1px solid var(--main-text-clr);
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.button::before,
.button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.button::before {
  top: -1em;
  left: -1em;
}

.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  color: rgb(10, 25, 30);
}

.button:active {
  filter: brightness(0.8);
}

/* -------------------------------------------- */

.horizontal-line {
  display: block;
  margin: 0 auto;
  border-bottom: 8px solid var(--main-text-clr);
  width: 20%;
  padding-top: 40px;
}

.horizontal-line2 {
  padding-top: 0px;
  margin-top: -200px;
}

.horizontal-line3 {
  padding: 0 auto;
  margin-top: -50px;
}

.button-submit {
  scale: 75%;
  margin-top: 20px;
}

/* ----------------------------------------------- */
.about-container {
  scale: 85%;
}

.about-me-all {
  padding-bottom: 100px;
}

.about-header {
  text-align: center !important;
  font-size: 2rem;
  padding-top: 40px;
  margin-bottom: 100px;
  color: var(--sub-text-clr);
  letter-spacing: 0.2rem;
}

.about-title {
  font-family: var(--text-font);
  font-weight: bold;
  font-size: 4rem;
  margin-top: -40px;
}

.about-title-skills {
  font-size: 4rem;
  margin-top: -30px;
}

.about-title2 {
  font-size: 3.5rem;
}

.about-title-contact {
  font-size: 3rem;
  margin-top: -40px;
}

.contact {
  font-size: 1.8rem;
}

.bio-pic {
  display: inline;
  margin-top: -200px;
  border-radius: 1.5rem;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.48);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.48);
  width: 100%;
  scale: 65%;
  transition: all 0.2s ease-in-out;
}

.bio-pic:hover {
  transform: scale(1.02);
}

.about-section {
  display: block;
}
.about-paragraph {
  font-family: var(--text-font);
  font-size: 27px;
  letter-spacing: 0.4px;
  margin-left: 18px;
  line-height: 2.2rem;
  font-weight: 600;
}

.about-paragraph-two {
  font-size: 20px;
  margin-bottom: 50px;
  margin-left: 18px;
  letter-spacing: 0.5px;
}

.about-paragraph-two a {
  color: #11609a !important;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.about-paragraph-two > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: black;
  transform: scaleX(0);
  transform-origin: right;
  background-color: var(--sub-text-clr) !important;
}

.about-paragraph-two > a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  background-color: var(--sub-text-clr) !important;
}

.resume-button-about {
  margin-left: 15px;
}

/* ----------------------------------------------- */

.skills-all {
  margin-top: 30px;
  margin-bottom: 110px;
  opacity: 1;
  scale: 90%;
}
.icon-container {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
  margin-bottom: 40px;
}

.icon {
  max-width: 96px;
}

.icon-sandbox {
  max-width: 87px;
}

.icon-text {
  display: block;
  letter-spacing: 1px;
  margin-top: 5px;
}

.grow-rotate-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.grow-rotate-on-hover:hover,
.grow-rotate-on-hover:focus,
.grow-rotate-on-hover:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}

/* ----------------------------------------------- */

.portfolio-all {
  margin-top: 100px;
  margin-bottom: 60px;
}

.portfolio-each-project {
  margin-bottom: 80px;
  overflow-x: hidden;
  overflow-y: hidden;
}

p.project-paragraph {
  letter-spacing: 0.03rem;
  line-height: 1.5;
}

.portfolio-img-update {
  width: 600px;
  scale: 160%;
  margin-left: 100px;
}

.portfolio-img-update-mobile {
  width: 600px;
}

.icons-used {
  max-width: 40px;
  max-height: 42px;
  margin-right: 5px;
  transition: 0.2s ease-in-out;
}
img.icons-used:hover {
  transform: scale(1.2);
}

.project-icons-container {
  margin-top: 40px;
}

.small {
  scale: 85%;
}

/* ----------------------------------------------- */

/* MEDIA QUERIES */

/* LARGE */
@media (max-width: 1400px) {
  .bio-pic {
    margin-top: -150px;
    scale: 70%;
  }
  .horizontal-line2 {
    margin-top: -50px;
  }
  .contact-form-wrapper {
    margin-left: 0px;
  }
}

/* MEDIUM */
@media (max-width: 1200px) {
  .bio-pic {
    margin-top: -60px !important;
    scale: 80% !important;
  }
  .contact-form-wrapper {
    margin-left: 0px !important;
  }
  .portfolio-img-update {
    margin-left: 0px;
  }
  .portfolio-individual-text {
    scale: 95%;
  }
  .horizontal-line3 {
    margin-top: -140px;
    padding-bottom: 0px;
  }
}

/* SMALL */
@media (max-width: 992px) {
  .bio-pic {
    scale: 60% !important;
    margin: -120px 0;
  }
  .about-section {
    text-align: center;
  }
  .about-header {
    margin-bottom: -120px;
    margin-top: -60px;
  }
  .about-header-portfolio {
    margin-bottom: 100px;
  }
  .about-title-skills {
    margin-bottom: 100px;
    margin-top: 200px;
  }
  .icon-links {
    margin-left: 10px;
  }
  .portfolio-each-project {
    text-align: center;
  }
  .project-paragraph {
    line-height: 32px !important;
  }
  .hero-title {
    font-size: 4.2rem;
  }
  .horizontal-line2 {
    margin-top: -50px;
  }
  .about-paragraph-two {
    margin-left: -10px;
  }
  .resume-button-about {
    margin-left: -20px;
  }
  .about-header-contact {
    margin-top: 100px;
  }
  .about-title-contact {
    margin-top: 160px !important;
    font-size: 2.5rem;
  }
  .resume-button-about {
    margin-left: 0;
  }
  .portfolio-img-update {
    pointer-events: none;
    margin-left: 12px;
  }
}

/* TABLET */
@media (max-width: 768px) {
  .about-title-skills {
    font-size: 2rem;
    margin-top: 100px;
  }
  .icon-container {
    scale: 90%;
  }
  .about-title {
    font-size: 3rem;
  }
  .about-header {
    margin-bottom: -50px;
  }
  .horizontal-line2 {
    margin-top: -80px;
  }
  .about-paragraph-two {
    margin-left: 0px;
  }
  .hero-title {
    font-size: 3.5rem;
  }
  .hero-paragraph {
    font-size: 1.5rem;
    line-height: 14px !important;
  }
  .about-header-portfolio {
    margin-bottom: 80px;
  }
  .portfolio-each-project h4 {
    font-size: 2rem;
  }
  .about-header-contact {
    margin-top: 50px;
  }
  .about-title-contact {
    margin-top: 90px !important;
    margin-bottom: -20px;
    font-size: 2.5rem;
  }
}

/* MOBILE */
@media (max-width: 576px) {
  .hero-container {
    margin-top: -40px;
  }
  .bio-pic {
    scale: 55% !important;
  }
  .icon-links {
    margin-left: 10px;
  }
  .icon-links img {
    height: 2.8rem;
  }
  .hero-paragraph {
    font-size: 22px;
    line-height: 14px !important;
  }
  .hero-title {
    font-size: 2.8rem;
  }
}

/* SMOOTH FLOW */
@media (max-width: 450px) {
  .portfolio-img-update {
    margin-left: 12px;
  }
  .contact-paragraph {
    margin-bottom: -50px;
  }
  .about-title {
    margin-top: 20px;
  }
  .hero-title {
    font-size: 2.6rem;
  }
  .hero-paragraph {
    font-size: 18px;
    line-height: 14px !important;
  }
}

/* IPHONE XR / PLUS*/
@media (max-width: 409px) {
  .button {
    scale: 80%;
  }
  .hero-container {
    margin-top: -80px;
  }
  .hero-title {
    font-size: 2.3rem;
  }
  .hero-paragraph {
    font-size: 18px;
    line-height: 14px !important;
  }
  .icon-container {
    scale: 80%;
  }
  .about-paragraph-two {
    font-size: 18px;
  }
  .about-paragraph-two span {
    font-size: 19px;
  }
  .icon-links {
    scale: 80%;
  }
  .portfolio-all {
    scale: 90%;
  }
  .portfolio-individual-text h4 {
    font-size: 1.8rem;
  }
  .about-title-contact {
    font-size: 1.8rem;
    margin-bottom: -20px !important;
  }
  .about-header-portfolio {
    margin-top: -260px;
  }
  .footer-code {
    margin-top: -160px;
  }
  .portfolio-img-update {
    margin-left: 14px;
  }
  .footer-code {
    padding-bottom: 0px;
    margin: 0px;
  }
}

/* IPHONE SE / 5 */
@media (max-width: 375px) {
  .hero-title {
    font-size: 2rem;
  }
  .about-who {
    font-size: 2rem;
  }
  .about-paragraph {
    font-size: 1.6rem;
  }
  .hero-paragraph {
    font-size: 15px;
    line-height: 10px !important;
  }
  .icon-container {
    width: 120px;
    margin-bottom: -10px;
    scale: 70%;
  }
  .about-header-portfolio {
    margin-top: -350px;
    margin-bottom: 40px;
  }
  .project-icons-container {
    margin-top: 0px;
    scale: 95%;
  }
}

/* SAMSUNG GALAXY S9+ */
@media (max-width: 321px) {
  .hero-paragraph {
    font-size: 15px;
    line-height: 11px !important;
  }
  .hero-title {
    font-size: 1.9rem;
  }
  .about-who {
    font-size: 2rem;
    padding-top: 10px;
  }
  .about-header {
    font-size: 1.6rem;
    padding-bottom: 15px;
    margin-top: -80px;
  }
  .about-paragraph {
    font-size: 1.4rem;
  }
  .about-paragraph-two * {
    font-size: 1rem;
  }
  .about-title-skills {
    font-size: 1.8rem;
    margin-top: 60px;
    margin-bottom: 10px !important;
  }
  .about-header-portfolio {
    margin-top: -400px;
    margin-bottom: 20px;
  }
  .portfolio-individual-text h4 {
    font-size: 1.6rem;
  }
  .about-header-contact {
    margin-top: 20px;
  }
  .about-title-contact {
    font-size: 1.6rem;
  }
}

/* FOOTER */

.contact-form-wrapper {
  padding-top: 10px;
  margin-left: 100px;
}

.footer-code {
  padding-bottom: 20px;
}

textarea {
  height: 100px;
}
